:root {
  --color-001: rgb(35, 35, 35);
  --color-002: rgb(0, 0, 0);
  --color-003: none;
  --color-004: rgba(0, 0, 0, 0);
  --color-005: rgba(255, 255, 255, 0.42);
  --color-006: rgb(25, 27, 32);
  --color-007: rgb(255, 25, 16);
  --color-008: rgb(83, 88, 101);
  --color-009: rgba(0, 0, 0, 0.15);
  --color-010: rgb(31, 32, 40);
  --color-011: rgba(16, 24, 36, 0.92);
  --color-012: rgba(24, 30, 42, 0.18);
  --color-013: rgba(255, 255, 255, 0.3);
  --color-014: rgb(255, 255, 255);
  --color-015: rgb(47, 55, 71);
  --color-016: rgba(244, 248, 255, 0.96);
  --color-017: rgba(0, 0, 0, 0.12);
  --color-018: rgba(255, 255, 255, 0.48);
  --color-019: rgb(16, 24, 32);
  --color-020: rgba(15, 23, 42, 0.74);
  --color-021: rgba(255, 255, 255, 0.35);
  --color-022: rgba(255, 255, 255, 0.56);
  --color-023: rgba(255, 255, 255, 0.68);
  --color-024: rgb(252, 252, 252);
  --color-025: rgba(255, 255, 255, 0.18);
  --color-026: rgb(0, 0, 238);
  --color-027: rgba(37, 41, 52, 0.6);
  --color-028: rgba(27, 33, 45, 0.24);
  --color-029: rgb(85, 85, 85);
  --color-030: rgb(89, 89, 89);
  --color-031: rgb(23, 25, 31);
  --color-032: rgb(31, 33, 41);
  --color-033: rgb(83, 88, 100);
  --color-034: rgba(24, 24, 24, 0.92);
  --color-035: rgb(84, 90, 102);
  --color-036: rgba(25, 25, 25, 0.9);
  --color-037: rgba(28, 32, 41, 0.74);
  --color-038: rgba(10, 12, 18, 0.52);
  --color-039: rgba(230, 234, 243, 0.46);
  --color-040: rgba(255, 255, 255, 0.5);
  --color-041: rgba(236, 240, 243, 0.78);
  --color-042: rgba(24, 30, 42, 0.26);
  --color-043: rgba(255, 255, 255, 0.62);
  --color-044: rgba(255, 255, 255, 0.46);
  --color-045: rgba(15, 23, 42, 0.82);
  --color-046: rgb(20, 22, 26);
  --color-047: rgb(236, 240, 243);
  --color-048: rgb(61, 67, 75);
  --color-049: rgba(255, 255, 255, 0.2);
  --color-050: rgb(245, 245, 245);
  --color-051: rgba(15, 23, 42, 0.72);
  --color-052: rgba(17, 24, 39, 0.95);
  --color-053: rgb(65, 73, 90);
  --color-054: rgba(24, 30, 42, 0.16);
  --color-055: rgba(255, 255, 255, 0.58);
  --color-056: rgb(199, 199, 199);
  --color-057: rgb(255, 0, 0);
  --color-058: rgba(24, 30, 42, 0.1);
  --color-059: color(srgb 1 1 1 / 0.84);
  --color-060: rgba(16, 16, 16, 0.92);
  --color-061: rgba(15, 23, 42, 0.2);
  --color-062: rgba(15, 23, 42, 0.92);
  --color-063: rgba(15, 23, 42, 0.7);
  --color-064: rgba(15, 23, 42, 0.8);
  --color-065: rgba(17, 23, 33, 0.88);
  --color-066: rgba(38, 42, 52, 0.16);
  --color-067: rgba(25, 25, 25, 0.24);
  --color-068: rgba(15, 23, 42, 0.68);
  --color-069: rgba(53, 63, 84, 0.86);
  --color-070: rgba(255, 255, 255, 0.16);
  --color-071: rgba(255, 255, 255, 0.08);
  --color-072: rgba(35, 35, 35, 0.2);
  --color-073: rgba(255, 255, 255, 0.24);
  --color-074: rgba(255, 255, 255, 0.64);
  --color-075: rgba(255, 72, 22, 0.36);
  --color-076: rgb(127, 127, 127);
  --color-077: rgb(17, 17, 17);
  --color-078: rgba(13, 20, 32, 0.82);
  --color-079: rgba(31, 41, 55, 0.72);
  --color-080: rgba(37, 42, 53, 0.88);
  --color-081: rgba(255, 255, 255, 0.54);
  --color-082: color(srgb 1 1 1 / 0.371294);
  --color-083: rgba(0, 0, 0, 0.3);
  --color-084: rgba(255, 255, 255, 0.32);
  --color-085: rgba(24, 31, 44, 0.94);
  --color-086: rgb(239, 239, 239);
  --color-087: rgba(0, 0, 0, 0.08);
  --color-088: rgba(15, 23, 42, 0.22);
  --color-089: rgba(249, 115, 22, 0.8);
  --color-090: rgba(255, 255, 255, 0.26);
  --color-091: rgba(255, 255, 255, 0.86);
  --color-092: rgba(29, 35, 43, 0.24);
  --color-093: rgba(29, 35, 43, 0.36);
  --color-094: rgba(30, 34, 47, 0.28);
  --color-095: rgba(16, 20, 28, 0.96);
  --color-096: rgba(18, 24, 34, 0.7);
  --color-097: rgba(20, 27, 38, 0.86);
  --color-098: rgba(255, 255, 255, 0.4);
  --color-099: rgb(237, 242, 255);
  --color-100: rgb(59, 67, 84);
  --color-101: rgba(24, 30, 42, 0.08);
  --color-102: rgba(255, 255, 255, 0.84);
  --color-103: rgba(255, 255, 255, 0.22);
  --color-104: rgba(118, 118, 118, 0.3);
  --color-105: rgba(255, 255, 255, 0.36);
  --color-106: rgba(255, 255, 255, 0.45);
  --color-107: rgba(255, 65, 22, 0.42);
  --color-108: rgba(16, 16, 16, 0.3);
  --color-109: color(srgb 0.988235 0.988235 0.988235 / 0.84);
  --color-110: oklab(0 0 0 / 0.7);
  --color-111: rgba(0, 0, 0, 0.25);
  --color-112: rgba(25, 30, 42, 0.74);
  --color-113: rgba(255, 255, 255, 0.6);
  --color-114: rgba(255, 255, 255, 0.94);
  --color-115: rgba(255, 255, 255, 0.55);
  --color-116: rgba(239, 239, 239, 0.3);
  --text-001-font-size: 17.0008px;
  --text-001-letter-spacing: normal;
  --text-001-line-height: 27.2013px;
  --text-001-style: normal;
  --text-001-transform: none;
  --text-001-weight: 400;
  --text-002-font-size: 13px;
  --text-002-letter-spacing: normal;
  --text-002-line-height: 16.25px;
  --text-002-style: normal;
  --text-002-transform: none;
  --text-002-weight: 400;
  --text-003-font-size: 11.5px;
  --text-003-letter-spacing: normal;
  --text-003-line-height: 11.5px;
  --text-003-style: normal;
  --text-003-transform: none;
  --text-003-weight: 400;
  --text-004-font-size: 17.0008px;
  --text-004-letter-spacing: normal;
  --text-004-line-height: 17.8508px;
  --text-004-style: normal;
  --text-004-transform: none;
  --text-004-weight: 400;
  --text-005-font-size: 14px;
  --text-005-letter-spacing: normal;
  --text-005-line-height: normal;
  --text-005-style: normal;
  --text-005-transform: none;
  --text-005-weight: 400;
  --text-006-font-size: 12px;
  --text-006-letter-spacing: normal;
  --text-006-line-height: 12.6px;
  --text-006-style: normal;
  --text-006-transform: none;
  --text-006-weight: 800;
  --text-007-font-size: 13px;
  --text-007-letter-spacing: 0.936px;
  --text-007-line-height: 14.95px;
  --text-007-style: normal;
  --text-007-transform: uppercase;
  --text-007-weight: 700;
  --text-008-font-size: 14.336px;
  --text-008-letter-spacing: 1.03219px;
  --text-008-line-height: 16.4864px;
  --text-008-style: normal;
  --text-008-transform: uppercase;
  --text-008-weight: 700;
  --text-009-font-size: 16.76px;
  --text-009-letter-spacing: 1.26008px;
  --text-009-line-height: 19.274px;
  --text-009-style: normal;
  --text-009-transform: uppercase;
  --text-009-weight: 700;
  --text-010-font-size: 13.6px;
  --text-010-letter-spacing: normal;
  --text-010-line-height: 27.2013px;
  --text-010-style: normal;
  --text-010-transform: none;
  --text-010-weight: 400;
  --text-011-font-size: 14px;
  --text-011-letter-spacing: normal;
  --text-011-line-height: 14px;
  --text-011-style: normal;
  --text-011-transform: none;
  --text-011-weight: 400;
  --text-012-font-size: 11px;
  --text-012-letter-spacing: 0.77px;
  --text-012-line-height: 11.55px;
  --text-012-style: normal;
  --text-012-transform: uppercase;
  --text-012-weight: 700;
  --text-013-font-size: 13px;
  --text-013-letter-spacing: normal;
  --text-013-line-height: 13.65px;
  --text-013-style: normal;
  --text-013-transform: none;
  --text-013-weight: 800;
  --text-014-font-size: 17.0008px;
  --text-014-letter-spacing: normal;
  --text-014-line-height: 17.0008px;
  --text-014-style: normal;
  --text-014-transform: none;
  --text-014-weight: 400;
  --text-015-font-size: 19.8909px;
  --text-015-letter-spacing: normal;
  --text-015-line-height: 27.2013px;
  --text-015-style: normal;
  --text-015-transform: none;
  --text-015-weight: 400;
  --text-016-font-size: 12px;
  --text-016-letter-spacing: normal;
  --text-016-line-height: 12.6px;
  --text-016-style: normal;
  --text-016-transform: none;
  --text-016-weight: 700;
  --text-017-font-size: 14px;
  --text-017-letter-spacing: normal;
  --text-017-line-height: 22.96px;
  --text-017-style: normal;
  --text-017-transform: none;
  --text-017-weight: 400;
  --text-018-font-size: 19.2px;
  --text-018-letter-spacing: normal;
  --text-018-line-height: 20.736px;
  --text-018-style: normal;
  --text-018-transform: none;
  --text-018-weight: 400;
  --text-019-font-size: 12px;
  --text-019-letter-spacing: normal;
  --text-019-line-height: 27.2013px;
  --text-019-style: normal;
  --text-019-transform: none;
  --text-019-weight: 800;
  --text-020-font-size: 12px;
  --text-020-letter-spacing: 0.84px;
  --text-020-line-height: 12.6px;
  --text-020-style: normal;
  --text-020-transform: uppercase;
  --text-020-weight: 700;
  --text-021-font-size: 12px;
  --text-021-letter-spacing: 0.48px;
  --text-021-line-height: 27.2013px;
  --text-021-style: normal;
  --text-021-transform: none;
  --text-021-weight: 400;
  --text-022-font-size: 12px;
  --text-022-letter-spacing: 0.48px;
  --text-022-line-height: 27.2013px;
  --text-022-style: normal;
  --text-022-transform: uppercase;
  --text-022-weight: 400;
  --text-023-font-size: 13px;
  --text-023-letter-spacing: normal;
  --text-023-line-height: 21.32px;
  --text-023-style: normal;
  --text-023-transform: none;
  --text-023-weight: 400;
  --text-024-font-size: 11px;
  --text-024-letter-spacing: 0.99px;
  --text-024-line-height: 27.2013px;
  --text-024-style: normal;
  --text-024-transform: uppercase;
  --text-024-weight: 400;
  --text-025-font-size: 17.0008px;
  --text-025-letter-spacing: normal;
  --text-025-line-height: 0px;
  --text-025-style: normal;
  --text-025-transform: none;
  --text-025-weight: 400;
  --text-026-font-size: 11px;
  --text-026-letter-spacing: 0.22px;
  --text-026-line-height: 11.55px;
  --text-026-style: normal;
  --text-026-transform: none;
  --text-026-weight: 700;
  --text-027-font-size: 13px;
  --text-027-letter-spacing: normal;
  --text-027-line-height: 13.65px;
  --text-027-style: normal;
  --text-027-transform: none;
  --text-027-weight: 700;
  --text-028-font-size: 25.92px;
  --text-028-letter-spacing: normal;
  --text-028-line-height: 27.9936px;
  --text-028-style: normal;
  --text-028-transform: none;
  --text-028-weight: 400;
  --text-029-font-size: 12px;
  --text-029-letter-spacing: 0.6px;
  --text-029-line-height: 19.68px;
  --text-029-style: normal;
  --text-029-transform: uppercase;
  --text-029-weight: 400;
  --text-030-font-size: 17.28px;
  --text-030-letter-spacing: normal;
  --text-030-line-height: 19.008px;
  --text-030-style: normal;
  --text-030-transform: none;
  --text-030-weight: 400;
  --text-031-font-size: 24.32px;
  --text-031-letter-spacing: normal;
  --text-031-line-height: 26.2656px;
  --text-031-style: normal;
  --text-031-transform: none;
  --text-031-weight: 400;
  --text-032-font-size: 15px;
  --text-032-letter-spacing: normal;
  --text-032-line-height: 25.8px;
  --text-032-style: normal;
  --text-032-transform: none;
  --text-032-weight: 400;
  --text-033-font-size: 13px;
  --text-033-letter-spacing: normal;
  --text-033-line-height: 27.2013px;
  --text-033-style: normal;
  --text-033-transform: none;
  --text-033-weight: 800;
  --text-034-font-size: 16px;
  --text-034-letter-spacing: normal;
  --text-034-line-height: normal;
  --text-034-style: normal;
  --text-034-transform: none;
  --text-034-weight: 400;
  --text-035-font-size: 12px;
  --text-035-letter-spacing: normal;
  --text-035-line-height: normal;
  --text-035-style: normal;
  --text-035-transform: none;
  --text-035-weight: 700;
  --text-036-font-size: 12px;
  --text-036-letter-spacing: 1.08px;
  --text-036-line-height: 27.2013px;
  --text-036-style: normal;
  --text-036-transform: uppercase;
  --text-036-weight: 400;
  --text-037-font-size: 8.32px;
  --text-037-letter-spacing: 0.1664px;
  --text-037-line-height: 8.32px;
  --text-037-style: italic;
  --text-037-transform: none;
  --text-037-weight: 400;
  --text-038-font-size: 13px;
  --text-038-letter-spacing: normal;
  --text-038-line-height: normal;
  --text-038-style: normal;
  --text-038-transform: none;
  --text-038-weight: 400;
  --text-039-font-size: 11px;
  --text-039-letter-spacing: 0.88px;
  --text-039-line-height: 27.2013px;
  --text-039-style: normal;
  --text-039-transform: uppercase;
  --text-039-weight: 400;
  --text-040-font-size: 12px;
  --text-040-letter-spacing: normal;
  --text-040-line-height: normal;
  --text-040-style: normal;
  --text-040-transform: none;
  --text-040-weight: 800;
  --text-041-font-size: 14.976px;
  --text-041-letter-spacing: normal;
  --text-041-line-height: 24.5606px;
  --text-041-style: normal;
  --text-041-transform: none;
  --text-041-weight: 400;
  --text-042-font-size: 14px;
  --text-042-letter-spacing: 0.7px;
  --text-042-line-height: 22.96px;
  --text-042-style: normal;
  --text-042-transform: uppercase;
  --text-042-weight: 400;
  --text-043-font-size: 36.48px;
  --text-043-letter-spacing: normal;
  --text-043-line-height: 39.3984px;
  --text-043-style: normal;
  --text-043-transform: none;
  --text-043-weight: 400;
  --text-044-font-size: 15.552px;
  --text-044-letter-spacing: normal;
  --text-044-line-height: 26.7494px;
  --text-044-style: normal;
  --text-044-transform: none;
  --text-044-weight: 400;
  --text-045-font-size: 11px;
  --text-045-letter-spacing: 0.22px;
  --text-045-line-height: 11px;
  --text-045-style: normal;
  --text-045-transform: none;
  --text-045-weight: 700;
  --text-046-font-size: 17.0008px;
  --text-046-letter-spacing: normal;
  --text-046-line-height: 27.2013px;
  --text-046-style: normal;
  --text-046-transform: none;
  --text-046-weight: 700;
  --text-047-font-size: 16px;
  --text-047-letter-spacing: normal;
  --text-047-line-height: 25.6px;
  --text-047-style: normal;
  --text-047-transform: none;
  --text-047-weight: 400;
  --text-048-font-size: 18px;
  --text-048-letter-spacing: 0.36px;
  --text-048-line-height: 18px;
  --text-048-style: normal;
  --text-048-transform: uppercase;
  --text-048-weight: 800;
  --text-049-font-size: 11.52px;
  --text-049-letter-spacing: normal;
  --text-049-line-height: 12.4416px;
  --text-049-style: normal;
  --text-049-transform: none;
  --text-049-weight: 400;
  --text-050-font-size: 13px;
  --text-050-letter-spacing: normal;
  --text-050-line-height: normal;
  --text-050-style: normal;
  --text-050-transform: none;
  --text-050-weight: 700;
  --text-051-font-size: 16px;
  --text-051-letter-spacing: normal;
  --text-051-line-height: 24px;
  --text-051-style: normal;
  --text-051-transform: none;
  --text-051-weight: 700;
  --text-052-font-size: 15px;
  --text-052-letter-spacing: normal;
  --text-052-line-height: 25.8px;
  --text-052-style: italic;
  --text-052-transform: none;
  --text-052-weight: 400;
  --text-053-font-size: 12.48px;
  --text-053-letter-spacing: 0.9984px;
  --text-053-line-height: 13.728px;
  --text-053-style: normal;
  --text-053-transform: lowercase;
  --text-053-weight: 400;
  --text-054-font-size: 9.504px;
  --text-054-letter-spacing: 0.19008px;
  --text-054-line-height: 9.504px;
  --text-054-style: italic;
  --text-054-transform: none;
  --text-054-weight: 400;
  --text-055-font-size: 13px;
  --text-055-letter-spacing: normal;
  --text-055-line-height: normal;
  --text-055-style: normal;
  --text-055-transform: none;
  --text-055-weight: 800;
  --text-056-font-size: 15px;
  --text-056-letter-spacing: normal;
  --text-056-line-height: normal;
  --text-056-style: normal;
  --text-056-transform: none;
  --text-056-weight: 400;
  --text-057-font-size: 11px;
  --text-057-letter-spacing: 0.22px;
  --text-057-line-height: normal;
  --text-057-style: normal;
  --text-057-transform: none;
  --text-057-weight: 700;
  --text-058-font-size: 15px;
  --text-058-letter-spacing: normal;
  --text-058-line-height: 25.8px;
  --text-058-style: normal;
  --text-058-transform: none;
  --text-058-weight: 700;
  --text-059-font-size: 16px;
  --text-059-letter-spacing: normal;
  --text-059-line-height: 27.2013px;
  --text-059-style: normal;
  --text-059-transform: none;
  --text-059-weight: 400;
  --text-060-font-size: 12px;
  --text-060-letter-spacing: 0.24px;
  --text-060-line-height: 12px;
  --text-060-style: normal;
  --text-060-transform: none;
  --text-060-weight: 700;
  --text-061-font-size: 14.4px;
  --text-061-letter-spacing: normal;
  --text-061-line-height: 15.552px;
  --text-061-style: normal;
  --text-061-transform: none;
  --text-061-weight: 400;
  --text-062-font-size: 12px;
  --text-062-letter-spacing: normal;
  --text-062-line-height: 27.2013px;
  --text-062-style: normal;
  --text-062-transform: none;
  --text-062-weight: 400;
  --text-063-font-size: 16px;
  --text-063-letter-spacing: 0.16px;
  --text-063-line-height: 17.92px;
  --text-063-style: normal;
  --text-063-transform: none;
  --text-063-weight: 400;
  --text-064-font-size: 21.6px;
  --text-064-letter-spacing: 0.432px;
  --text-064-line-height: 21.6px;
  --text-064-style: normal;
  --text-064-transform: uppercase;
  --text-064-weight: 800;
  --text-065-font-size: 12.5px;
  --text-065-letter-spacing: normal;
  --text-065-line-height: normal;
  --text-065-style: normal;
  --text-065-transform: none;
  --text-065-weight: 400;
  --text-066-font-size: 14px;
  --text-066-letter-spacing: normal;
  --text-066-line-height: 23.24px;
  --text-066-style: normal;
  --text-066-transform: none;
  --text-066-weight: 400;
  --text-067-font-size: 24.96px;
  --text-067-letter-spacing: normal;
  --text-067-line-height: 26.9568px;
  --text-067-style: normal;
  --text-067-transform: none;
  --text-067-weight: 400;
  --text-068-font-size: 15.2px;
  --text-068-letter-spacing: normal;
  --text-068-line-height: 27.2013px;
  --text-068-style: normal;
  --text-068-transform: none;
  --text-068-weight: 400;
  --text-069-font-size: 13.12px;
  --text-069-letter-spacing: 0.2624px;
  --text-069-line-height: 27.2013px;
  --text-069-style: normal;
  --text-069-transform: uppercase;
  --text-069-weight: 400;
  --text-070-font-size: 15.552px;
  --text-070-letter-spacing: normal;
  --text-070-line-height: 26.7494px;
  --text-070-style: italic;
  --text-070-transform: none;
  --text-070-weight: 400;
  --text-071-font-size: 12px;
  --text-071-letter-spacing: 1.92px;
  --text-071-line-height: 27.2013px;
  --text-071-style: normal;
  --text-071-transform: uppercase;
  --text-071-weight: 400;
  --text-072-font-size: 13.44px;
  --text-072-letter-spacing: 0.2688px;
  --text-072-line-height: 14.112px;
  --text-072-style: normal;
  --text-072-transform: none;
  --text-072-weight: 400;
  --text-073-font-size: 13.76px;
  --text-073-letter-spacing: normal;
  --text-073-line-height: 27.2013px;
  --text-073-style: normal;
  --text-073-transform: none;
  --text-073-weight: 400;
  --text-074-font-size: 14.72px;
  --text-074-letter-spacing: normal;
  --text-074-line-height: 27.2013px;
  --text-074-style: normal;
  --text-074-transform: none;
  --text-074-weight: 400;
  --text-075-font-size: 15.2px;
  --text-075-letter-spacing: normal;
  --text-075-line-height: 16.416px;
  --text-075-style: normal;
  --text-075-transform: none;
  --text-075-weight: 400;
  --text-076-font-size: 16px;
  --text-076-letter-spacing: normal;
  --text-076-line-height: 23.2px;
  --text-076-style: normal;
  --text-076-transform: none;
  --text-076-weight: 400;
  --text-077-font-size: 12px;
  --text-077-letter-spacing: 0.24px;
  --text-077-line-height: 12.6px;
  --text-077-style: normal;
  --text-077-transform: none;
  --text-077-weight: 700;
  --text-078-font-size: 17.0008px;
  --text-078-letter-spacing: normal;
  --text-078-line-height: 23.8011px;
  --text-078-style: normal;
  --text-078-transform: none;
  --text-078-weight: 400;
  --text-079-font-size: 25.5012px;
  --text-079-letter-spacing: normal;
  --text-079-line-height: 27.2013px;
  --text-079-style: normal;
  --text-079-transform: none;
  --text-079-weight: 400;
  --text-080-font-size: 12px;
  --text-080-letter-spacing: normal;
  --text-080-line-height: 16.2px;
  --text-080-style: normal;
  --text-080-transform: none;
  --text-080-weight: 400;
  --text-081-font-size: 13.3333px;
  --text-081-letter-spacing: normal;
  --text-081-line-height: normal;
  --text-081-style: normal;
  --text-081-transform: none;
  --text-081-weight: 400;
  --text-082-font-size: 14.08px;
  --text-082-letter-spacing: normal;
  --text-082-line-height: 27.2013px;
  --text-082-style: normal;
  --text-082-transform: none;
  --text-082-weight: 400;
  --text-083-font-size: 12px;
  --text-083-letter-spacing: 0.24px;
  --text-083-line-height: normal;
  --text-083-style: normal;
  --text-083-transform: none;
  --text-083-weight: 700;
  --text-084-font-size: 12.64px;
  --text-084-letter-spacing: 1.896px;
  --text-084-line-height: 27.2013px;
  --text-084-style: normal;
  --text-084-transform: uppercase;
  --text-084-weight: 400;
  --text-085-font-size: 13px;
  --text-085-letter-spacing: normal;
  --text-085-line-height: 20.28px;
  --text-085-style: normal;
  --text-085-transform: none;
  --text-085-weight: 400;
  --text-086-font-size: 15.552px;
  --text-086-letter-spacing: normal;
  --text-086-line-height: 26.7494px;
  --text-086-style: normal;
  --text-086-transform: none;
  --text-086-weight: 700;
  --text-087-font-size: 12px;
  --text-087-letter-spacing: normal;
  --text-087-line-height: 17.04px;
  --text-087-style: normal;
  --text-087-transform: none;
  --text-087-weight: 400;
  --text-088-font-size: 13px;
  --text-088-letter-spacing: normal;
  --text-088-line-height: 19.5px;
  --text-088-style: normal;
  --text-088-transform: none;
  --text-088-weight: 400;
  --text-089-font-size: 11px;
  --text-089-letter-spacing: 0.22px;
  --text-089-line-height: 11.55px;
  --text-089-style: normal;
  --text-089-transform: none;
  --text-089-weight: 800;
  --text-090-font-size: 13px;
  --text-090-letter-spacing: normal;
  --text-090-line-height: 21.06px;
  --text-090-style: normal;
  --text-090-transform: none;
  --text-090-weight: 400;
  --text-091-font-size: 14px;
  --text-091-letter-spacing: normal;
  --text-091-line-height: 27.2013px;
  --text-091-style: normal;
  --text-091-transform: none;
  --text-091-weight: 400;
  --text-092-font-size: 17.28px;
  --text-092-letter-spacing: 0.1728px;
  --text-092-line-height: 19.3536px;
  --text-092-style: normal;
  --text-092-transform: none;
  --text-092-weight: 400;
  --text-093-font-size: 33.15px;
  --text-093-letter-spacing: 0.3315px;
  --text-093-line-height: 31.4925px;
  --text-093-style: normal;
  --text-093-transform: uppercase;
  --text-093-weight: 400;
  --text-094-font-size: 54.4px;
  --text-094-letter-spacing: 0.544px;
  --text-094-line-height: 51.68px;
  --text-094-style: normal;
  --text-094-transform: uppercase;
  --text-094-weight: 400;
  --text-095-font-size: 74.88px;
  --text-095-letter-spacing: 0.7488px;
  --text-095-line-height: 68.8896px;
  --text-095-style: normal;
  --text-095-transform: uppercase;
  --text-095-weight: 400;
  --text-096-font-size: 13px;
  --text-096-letter-spacing: normal;
  --text-096-line-height: 13.65px;
  --text-096-style: normal;
  --text-096-transform: none;
  --text-096-weight: 400;
  --text-097-font-size: 14.5px;
  --text-097-letter-spacing: normal;
  --text-097-line-height: normal;
  --text-097-style: normal;
  --text-097-transform: none;
  --text-097-weight: 400;
  --text-098-font-size: 14.976px;
  --text-098-letter-spacing: normal;
  --text-098-line-height: 24.8602px;
  --text-098-style: normal;
  --text-098-transform: none;
  --text-098-weight: 400;
  --text-099-font-size: 16px;
  --text-099-letter-spacing: normal;
  --text-099-line-height: 17.28px;
  --text-099-style: normal;
  --text-099-transform: none;
  --text-099-weight: 400;
  --text-100-font-size: 38.72px;
  --text-100-letter-spacing: normal;
  --text-100-line-height: 41.8176px;
  --text-100-style: normal;
  --text-100-transform: none;
  --text-100-weight: 400;
  --text-101-font-size: 13px;
  --text-101-letter-spacing: normal;
  --text-101-line-height: 18.85px;
  --text-101-style: normal;
  --text-101-transform: none;
  --text-101-weight: 400;
  --text-102-font-size: 12px;
  --text-102-letter-spacing: normal;
  --text-102-line-height: 16.2px;
  --text-102-style: italic;
  --text-102-transform: none;
  --text-102-weight: 400;
  --text-103-font-size: 16px;
  --text-103-letter-spacing: normal;
  --text-103-line-height: 25.6px;
  --text-103-style: normal;
  --text-103-transform: none;
  --text-103-weight: 700;
  --text-104-font-size: 17.0008px;
  --text-104-letter-spacing: normal;
  --text-104-line-height: 24.8212px;
  --text-104-style: normal;
  --text-104-transform: none;
  --text-104-weight: 400;
  --text-105-font-size: 17.0008px;
  --text-105-letter-spacing: normal;
  --text-105-line-height: 27.2013px;
  --text-105-style: normal;
  --text-105-transform: none;
  --text-105-weight: 500;
  --text-106-font-size: 13px;
  --text-106-letter-spacing: normal;
  --text-106-line-height: 20.54px;
  --text-106-style: normal;
  --text-106-transform: none;
  --text-106-weight: 400;
  --text-107-font-size: 16px;
  --text-107-letter-spacing: 1.28px;
  --text-107-line-height: 18.4px;
  --text-107-style: normal;
  --text-107-transform: uppercase;
  --text-107-weight: 700;
  --text-108-font-size: 16px;
  --text-108-letter-spacing: normal;
  --text-108-line-height: 24px;
  --text-108-style: italic;
  --text-108-transform: none;
  --text-108-weight: 700;
  --text-109-font-size: 17.0008px;
  --text-109-letter-spacing: normal;
  --text-109-line-height: 27.2013px;
  --text-109-style: italic;
  --text-109-transform: none;
  --text-109-weight: 700;
  --text-110-font-size: 20.8px;
  --text-110-letter-spacing: 1.664px;
  --text-110-line-height: 23.92px;
  --text-110-style: normal;
  --text-110-transform: uppercase;
  --text-110-weight: 700;
  --text-111-font-size: 13.12px;
  --text-111-letter-spacing: 0.2624px;
  --text-111-line-height: 13.776px;
  --text-111-style: normal;
  --text-111-transform: none;
  --text-111-weight: 400;
  --text-112-font-size: 11px;
  --text-112-letter-spacing: 0.22px;
  --text-112-line-height: normal;
  --text-112-style: normal;
  --text-112-transform: none;
  --text-112-weight: 800;
  --text-113-font-size: 13.12px;
  --text-113-letter-spacing: 0.5248px;
  --text-113-line-height: 13.12px;
  --text-113-style: normal;
  --text-113-transform: uppercase;
  --text-113-weight: 400;
  --text-114-font-size: 16px;
  --text-114-letter-spacing: normal;
  --text-114-line-height: 24px;
  --text-114-style: normal;
  --text-114-transform: none;
  --text-114-weight: 400;
  --text-115-font-size: 20.8px;
  --text-115-letter-spacing: normal;
  --text-115-line-height: 27.2013px;
  --text-115-style: normal;
  --text-115-transform: none;
  --text-115-weight: 400;
  --text-116-font-size: 12px;
  --text-116-letter-spacing: 0.72px;
  --text-116-line-height: 12px;
  --text-116-style: normal;
  --text-116-transform: none;
  --text-116-weight: 400;
  --text-117-font-size: 12px;
  --text-117-letter-spacing: normal;
  --text-117-line-height: 13.2px;
  --text-117-style: normal;
  --text-117-transform: uppercase;
  --text-117-weight: 700;
  --text-118-font-size: 14.72px;
  --text-118-letter-spacing: normal;
  --text-118-line-height: 27.2013px;
  --text-118-style: normal;
  --text-118-transform: none;
  --text-118-weight: 700;
  --text-119-font-size: 15.68px;
  --text-119-letter-spacing: normal;
  --text-119-line-height: 16.9344px;
  --text-119-style: normal;
  --text-119-transform: none;
  --text-119-weight: 400;
  --text-120-font-size: 17.0008px;
  --text-120-letter-spacing: normal;
  --text-120-line-height: 25.5012px;
  --text-120-style: normal;
  --text-120-transform: none;
  --text-120-weight: 400;
  --text-121-font-size: 17.0008px;
  --text-121-letter-spacing: normal;
  --text-121-line-height: 27.2013px;
  --text-121-style: italic;
  --text-121-transform: none;
  --text-121-weight: 400;
  --text-122-font-size: 17.55px;
  --text-122-letter-spacing: normal;
  --text-122-line-height: 20.1825px;
  --text-122-style: normal;
  --text-122-transform: none;
  --text-122-weight: 400;
  --text-123-font-size: 24px;
  --text-123-letter-spacing: normal;
  --text-123-line-height: normal;
  --text-123-style: normal;
  --text-123-transform: none;
  --text-123-weight: 700;
  --text-124-font-size: 26.688px;
  --text-124-letter-spacing: normal;
  --text-124-line-height: 27.2013px;
  --text-124-style: normal;
  --text-124-transform: none;
  --text-124-weight: 400;
  --text-125-font-size: 33.6px;
  --text-125-letter-spacing: normal;
  --text-125-line-height: 27.2013px;
  --text-125-style: normal;
  --text-125-transform: none;
  --text-125-weight: 400;
  --text-126-font-size: 34.0016px;
  --text-126-letter-spacing: normal;
  --text-126-line-height: 27.2013px;
  --text-126-style: normal;
  --text-126-transform: none;
  --text-126-weight: 400;
  --text-127-font-size: 15px;
  --text-127-letter-spacing: normal;
  --text-127-line-height: 15.75px;
  --text-127-style: normal;
  --text-127-transform: none;
  --text-127-weight: 400;
  --text-128-font-size: 20.16px;
  --text-128-letter-spacing: normal;
  --text-128-line-height: 21.7728px;
  --text-128-style: normal;
  --text-128-transform: none;
  --text-128-weight: 400;
  --text-129-font-size: 12.48px;
  --text-129-letter-spacing: normal;
  --text-129-line-height: 27.2013px;
  --text-129-style: normal;
  --text-129-transform: none;
  --text-129-weight: 400;
  --text-130-font-size: 12px;
  --text-130-letter-spacing: 0.24px;
  --text-130-line-height: 12.6px;
  --text-130-style: normal;
  --text-130-transform: none;
  --text-130-weight: 800;
  --text-131-font-size: 13px;
  --text-131-letter-spacing: normal;
  --text-131-line-height: 20.15px;
  --text-131-style: normal;
  --text-131-transform: none;
  --text-131-weight: 400;
  --text-132-font-size: 15px;
  --text-132-letter-spacing: normal;
  --text-132-line-height: 24.3px;
  --text-132-style: normal;
  --text-132-transform: none;
  --text-132-weight: 400;
  --text-133-font-size: 22.72px;
  --text-133-letter-spacing: normal;
  --text-133-line-height: 24.5376px;
  --text-133-style: normal;
  --text-133-transform: none;
  --text-133-weight: 400;
  --text-134-font-size: 11px;
  --text-134-letter-spacing: 0.44px;
  --text-134-line-height: 13.2px;
  --text-134-style: normal;
  --text-134-transform: uppercase;
  --text-134-weight: 400;
  --text-135-font-size: 17.0008px;
  --text-135-letter-spacing: normal;
  --text-135-line-height: 24.6512px;
  --text-135-style: normal;
  --text-135-transform: none;
  --text-135-weight: 400;
  --text-136-font-size: 34.0016px;
  --text-136-letter-spacing: normal;
  --text-136-line-height: 47.6022px;
  --text-136-style: normal;
  --text-136-transform: none;
  --text-136-weight: 400;
  --text-137-font-size: 11px;
  --text-137-letter-spacing: 0.44px;
  --text-137-line-height: 11.55px;
  --text-137-style: normal;
  --text-137-transform: none;
  --text-137-weight: 700;
  --text-138-font-size: 11px;
  --text-138-letter-spacing: normal;
  --text-138-line-height: normal;
  --text-138-style: normal;
  --text-138-transform: uppercase;
  --text-138-weight: 700;
  --text-139-font-size: 12px;
  --text-139-letter-spacing: normal;
  --text-139-line-height: 27.2013px;
  --text-139-style: normal;
  --text-139-transform: uppercase;
  --text-139-weight: 400;
  --text-140-font-size: 12px;
  --text-140-letter-spacing: normal;
  --text-140-line-height: 27.2013px;
  --text-140-style: normal;
  --text-140-transform: none;
  --text-140-weight: 700;
  --text-141-font-size: 13px;
  --text-141-letter-spacing: normal;
  --text-141-line-height: 13.65px;
  --text-141-style: normal;
  --text-141-transform: uppercase;
  --text-141-weight: 400;
  --text-142-font-size: 15.68px;
  --text-142-letter-spacing: 0.3136px;
  --text-142-line-height: 18.032px;
  --text-142-style: normal;
  --text-142-transform: uppercase;
  --text-142-weight: 400;
  --text-143-font-size: 15px;
  --text-143-letter-spacing: normal;
  --text-143-line-height: 21.75px;
  --text-143-style: normal;
  --text-143-transform: none;
  --text-143-weight: 400;
  --text-144-font-size: 16.8px;
  --text-144-letter-spacing: 0.756px;
  --text-144-line-height: 27.2013px;
  --text-144-style: normal;
  --text-144-transform: uppercase;
  --text-144-weight: 400;
  --text-145-font-size: 12px;
  --text-145-letter-spacing: 0.24px;
  --text-145-line-height: normal;
  --text-145-style: normal;
  --text-145-transform: none;
  --text-145-weight: 800;
  --text-146-font-size: 11.84px;
  --text-146-letter-spacing: 1.8944px;
  --text-146-line-height: 27.2013px;
  --text-146-style: normal;
  --text-146-transform: uppercase;
  --text-146-weight: 400;
  --text-147-font-size: 11px;
  --text-147-letter-spacing: normal;
  --text-147-line-height: 17.6px;
  --text-147-style: normal;
  --text-147-transform: none;
  --text-147-weight: 400;
  --text-148-font-size: 11px;
  --text-148-letter-spacing: normal;
  --text-148-line-height: normal;
  --text-148-style: normal;
  --text-148-transform: none;
  --text-148-weight: 700;
  --text-149-font-size: 12.8px;
  --text-149-letter-spacing: 0.768px;
  --text-149-line-height: 27.2013px;
  --text-149-style: normal;
  --text-149-transform: uppercase;
  --text-149-weight: 400;
  --text-150-font-size: 12px;
  --text-150-letter-spacing: 0.96px;
  --text-150-line-height: 27.2013px;
  --text-150-style: normal;
  --text-150-transform: lowercase;
  --text-150-weight: 400;
  --text-151-font-size: 13.3333px;
  --text-151-letter-spacing: normal;
  --text-151-line-height: 13.3333px;
  --text-151-style: normal;
  --text-151-transform: none;
  --text-151-weight: 400;
  --text-152-font-size: 13.5px;
  --text-152-letter-spacing: normal;
  --text-152-line-height: 14.85px;
  --text-152-style: normal;
  --text-152-transform: uppercase;
  --text-152-weight: 700;
  --text-153-font-size: 13.6px;
  --text-153-letter-spacing: 1.632px;
  --text-153-line-height: 27.2013px;
  --text-153-style: normal;
  --text-153-transform: uppercase;
  --text-153-weight: 400;
  --text-154-font-size: 13px;
  --text-154-letter-spacing: normal;
  --text-154-line-height: 16.12px;
  --text-154-style: normal;
  --text-154-transform: none;
  --text-154-weight: 400;
  --text-155-font-size: 14.4px;
  --text-155-letter-spacing: normal;
  --text-155-line-height: 27.2013px;
  --text-155-style: normal;
  --text-155-transform: none;
  --text-155-weight: 400;
  --text-156-font-size: 15.2px;
  --text-156-letter-spacing: 0.912px;
  --text-156-line-height: 27.2013px;
  --text-156-style: normal;
  --text-156-transform: uppercase;
  --text-156-weight: 400;
  --text-157-font-size: 15px;
  --text-157-letter-spacing: 2.4px;
  --text-157-line-height: 24px;
  --text-157-style: normal;
  --text-157-transform: none;
  --text-157-weight: 400;
  --text-158-font-size: 17.0008px;
  --text-158-letter-spacing: 1.19006px;
  --text-158-line-height: 17.8508px;
  --text-158-style: normal;
  --text-158-transform: uppercase;
  --text-158-weight: 400;
  --text-159-font-size: 17.0008px;
  --text-159-letter-spacing: normal;
  --text-159-line-height: 25.5012px;
  --text-159-style: normal;
  --text-159-transform: none;
  --text-159-weight: 700;
  --text-160-font-size: 17.0008px;
  --text-160-letter-spacing: 0.170008px;
  --text-160-line-height: 27.2013px;
  --text-160-style: normal;
  --text-160-transform: none;
  --text-160-weight: 700;
  --text-161-font-size: 17.28px;
  --text-161-letter-spacing: normal;
  --text-161-line-height: 18.6624px;
  --text-161-style: normal;
  --text-161-transform: none;
  --text-161-weight: 400;
  --text-162-font-size: 18.1958px;
  --text-162-letter-spacing: normal;
  --text-162-line-height: 20.9252px;
  --text-162-style: normal;
  --text-162-transform: none;
  --text-162-weight: 400;
  --text-163-font-size: 11.52px;
  --text-163-letter-spacing: normal;
  --text-163-line-height: 12.4416px;
  --text-163-style: normal;
  --text-163-transform: uppercase;
  --text-163-weight: 400;
  --text-164-font-size: 11px;
  --text-164-letter-spacing: 0.44px;
  --text-164-line-height: 11.55px;
  --text-164-style: normal;
  --text-164-transform: uppercase;
  --text-164-weight: 800;
  --text-165-font-size: 11px;
  --text-165-letter-spacing: 1.1px;
  --text-165-line-height: 27.2013px;
  --text-165-style: normal;
  --text-165-transform: uppercase;
  --text-165-weight: 400;
  --text-166-font-size: 12px;
  --text-166-letter-spacing: 0.48px;
  --text-166-line-height: 12.6px;
  --text-166-style: normal;
  --text-166-transform: none;
  --text-166-weight: 700;
  --text-167-font-size: 12px;
  --text-167-letter-spacing: 0.84px;
  --text-167-line-height: 12.6px;
  --text-167-style: normal;
  --text-167-transform: uppercase;
  --text-167-weight: 800;
  --text-168-font-size: 12px;
  --text-168-letter-spacing: normal;
  --text-168-line-height: 12.6px;
  --text-168-style: normal;
  --text-168-transform: none;
  --text-168-weight: 600;
  --text-169-font-size: 13px;
  --text-169-letter-spacing: normal;
  --text-169-line-height: 13.78px;
  --text-169-style: normal;
  --text-169-transform: uppercase;
  --text-169-weight: 700;
  --text-170-font-size: 13px;
  --text-170-letter-spacing: normal;
  --text-170-line-height: 27.2013px;
  --text-170-style: normal;
  --text-170-transform: none;
  --text-170-weight: 700;
  --text-171-font-size: 14.4px;
  --text-171-letter-spacing: normal;
  --text-171-line-height: 20.88px;
  --text-171-style: normal;
  --text-171-transform: none;
  --text-171-weight: 400;
  --text-172-font-size: 14.72px;
  --text-172-letter-spacing: normal;
  --text-172-line-height: 15.8976px;
  --text-172-style: normal;
  --text-172-transform: none;
  --text-172-weight: 400;
  --text-173-font-size: 14.72px;
  --text-173-letter-spacing: 0.4416px;
  --text-173-line-height: 22.816px;
  --text-173-style: normal;
  --text-173-transform: uppercase;
  --text-173-weight: 400;
  --text-174-font-size: 14.832px;
  --text-174-letter-spacing: normal;
  --text-174-line-height: 22.9896px;
  --text-174-style: normal;
  --text-174-transform: none;
  --text-174-weight: 400;
  --text-175-font-size: 15.6407px;
  --text-175-letter-spacing: normal;
  --text-175-line-height: 27.2013px;
  --text-175-style: normal;
  --text-175-transform: none;
  --text-175-weight: 400;
  --text-176-font-size: 15px;
  --text-176-letter-spacing: normal;
  --text-176-line-height: 15.75px;
  --text-176-style: normal;
  --text-176-transform: uppercase;
  --text-176-weight: 400;
  --text-177-font-size: 15px;
  --text-177-letter-spacing: normal;
  --text-177-line-height: 17.25px;
  --text-177-style: normal;
  --text-177-transform: none;
  --text-177-weight: 400;
  --text-178-font-size: 15px;
  --text-178-letter-spacing: normal;
  --text-178-line-height: 23.4px;
  --text-178-style: normal;
  --text-178-transform: none;
  --text-178-weight: 400;
  --text-179-font-size: 15px;
  --text-179-letter-spacing: normal;
  --text-179-line-height: 25.8px;
  --text-179-style: normal;
  --text-179-transform: none;
  --text-179-weight: 600;
  --text-180-font-size: 16.96px;
  --text-180-letter-spacing: 0.3392px;
  --text-180-line-height: 18.656px;
  --text-180-style: normal;
  --text-180-transform: uppercase;
  --text-180-weight: 400;
  --text-181-font-size: 16px;
  --text-181-letter-spacing: normal;
  --text-181-line-height: 16px;
  --text-181-style: normal;
  --text-181-transform: none;
  --text-181-weight: 400;
  --text-182-font-size: 18.348px;
  --text-182-letter-spacing: 0.36696px;
  --text-182-line-height: 20.1828px;
  --text-182-style: normal;
  --text-182-transform: uppercase;
  --text-182-weight: 400;
  --text-183-font-size: 20.8px;
  --text-183-letter-spacing: normal;
  --text-183-line-height: normal;
  --text-183-style: normal;
  --text-183-transform: uppercase;
  --text-183-weight: 400;
  --text-184-font-size: 20px;
  --text-184-letter-spacing: normal;
  --text-184-line-height: 32px;
  --text-184-style: normal;
  --text-184-transform: none;
  --text-184-weight: 400;
  --text-185-font-size: 21.684px;
  --text-185-letter-spacing: normal;
  --text-185-line-height: 34.6944px;
  --text-185-style: normal;
  --text-185-transform: none;
  --text-185-weight: 400;
  --text-186-font-size: 21.6px;
  --text-186-letter-spacing: 0.432px;
  --text-186-line-height: 23.76px;
  --text-186-style: normal;
  --text-186-transform: uppercase;
  --text-186-weight: 400;
  --text-187-font-size: 21.6px;
  --text-187-letter-spacing: 0.972px;
  --text-187-line-height: 27.2013px;
  --text-187-style: normal;
  --text-187-transform: uppercase;
  --text-187-weight: 400;
  --text-188-font-size: 22.5px;
  --text-188-letter-spacing: normal;
  --text-188-line-height: 25.875px;
  --text-188-style: normal;
  --text-188-transform: none;
  --text-188-weight: 400;
  --text-189-font-size: 23.68px;
  --text-189-letter-spacing: normal;
  --text-189-line-height: 24.864px;
  --text-189-style: normal;
  --text-189-transform: none;
  --text-189-weight: 400;
  --text-190-font-size: 24.8px;
  --text-190-letter-spacing: 0.496px;
  --text-190-line-height: 27.2013px;
  --text-190-style: normal;
  --text-190-transform: uppercase;
  --text-190-weight: 400;
  --text-191-font-size: 24px;
  --text-191-letter-spacing: normal;
  --text-191-line-height: 38.4px;
  --text-191-style: normal;
  --text-191-transform: none;
  --text-191-weight: 400;
  --text-192-font-size: 26.688px;
  --text-192-letter-spacing: 0.53376px;
  --text-192-line-height: 27.2013px;
  --text-192-style: normal;
  --text-192-transform: uppercase;
  --text-192-weight: 400;
  --text-193-font-size: 36.8px;
  --text-193-letter-spacing: 0.736px;
  --text-193-line-height: 27.2013px;
  --text-193-style: normal;
  --text-193-transform: uppercase;
  --text-193-weight: 400;
  --text-194-font-size: 40.96px;
  --text-194-letter-spacing: normal;
  --text-194-line-height: 44.2368px;
  --text-194-style: normal;
  --text-194-transform: none;
  --text-194-weight: 400;
  --text-195-font-size: 48px;
  --text-195-letter-spacing: -0.48px;
  --text-195-line-height: 52.8px;
  --text-195-style: normal;
  --text-195-transform: none;
  --text-195-weight: 400;
  --text-196-font-size: 11px;
  --text-196-letter-spacing: 1.32px;
  --text-196-line-height: 12.1px;
  --text-196-style: normal;
  --text-196-transform: uppercase;
  --text-196-weight: 700;
  --text-197-font-size: 12px;
  --text-197-letter-spacing: normal;
  --text-197-line-height: normal;
  --text-197-style: normal;
  --text-197-transform: uppercase;
  --text-197-weight: 700;
  --text-198-font-size: 14px;
  --text-198-letter-spacing: normal;
  --text-198-line-height: 17.36px;
  --text-198-style: normal;
  --text-198-transform: none;
  --text-198-weight: 400;
  --text-199-font-size: 17.0008px;
  --text-199-letter-spacing: normal;
  --text-199-line-height: 24.6512px;
  --text-199-style: normal;
  --text-199-transform: none;
  --text-199-weight: 700;
  --text-200-font-size: 20px;
  --text-200-letter-spacing: normal;
  --text-200-line-height: 29px;
  --text-200-style: normal;
  --text-200-transform: none;
  --text-200-weight: 400;
  --text-201-font-size: 34.88px;
  --text-201-letter-spacing: normal;
  --text-201-line-height: 37.6704px;
  --text-201-style: normal;
  --text-201-transform: none;
  --text-201-weight: 400;
  --text-202-font-size: 12.5px;
  --text-202-letter-spacing: normal;
  --text-202-line-height: 18.125px;
  --text-202-style: normal;
  --text-202-transform: none;
  --text-202-weight: 400;
  --text-203-font-size: 12px;
  --text-203-letter-spacing: 0.48px;
  --text-203-line-height: 12.6px;
  --text-203-style: normal;
  --text-203-transform: uppercase;
  --text-203-weight: 800;
  --text-204-font-size: 12px;
  --text-204-letter-spacing: 1.2px;
  --text-204-line-height: 27.2013px;
  --text-204-style: normal;
  --text-204-transform: uppercase;
  --text-204-weight: 400;
  --text-205-font-size: 12px;
  --text-205-letter-spacing: 0.84px;
  --text-205-line-height: normal;
  --text-205-style: normal;
  --text-205-transform: uppercase;
  --text-205-weight: 800;
  --text-206-font-size: 13px;
  --text-206-letter-spacing: 0.91px;
  --text-206-line-height: 13.65px;
  --text-206-style: normal;
  --text-206-transform: uppercase;
  --text-206-weight: 700;
  --text-207-font-size: 13px;
  --text-207-letter-spacing: 0.91px;
  --text-207-line-height: 13.65px;
  --text-207-style: normal;
  --text-207-transform: uppercase;
  --text-207-weight: 800;
  --text-208-font-size: 13px;
  --text-208-letter-spacing: normal;
  --text-208-line-height: 13.65px;
  --text-208-style: normal;
  --text-208-transform: none;
  --text-208-weight: 600;
  --text-209-font-size: 13px;
  --text-209-letter-spacing: normal;
  --text-209-line-height: 17.42px;
  --text-209-style: normal;
  --text-209-transform: none;
  --text-209-weight: 400;
  --text-210-font-size: 13px;
  --text-210-letter-spacing: normal;
  --text-210-line-height: 27.2013px;
  --text-210-style: normal;
  --text-210-transform: uppercase;
  --text-210-weight: 400;
  --text-211-font-size: 14.4px;
  --text-211-letter-spacing: normal;
  --text-211-line-height: 15.552px;
  --text-211-style: normal;
  --text-211-transform: uppercase;
  --text-211-weight: 400;
  --text-212-font-size: 15.552px;
  --text-212-letter-spacing: normal;
  --text-212-line-height: 17.8848px;
  --text-212-style: normal;
  --text-212-transform: none;
  --text-212-weight: 400;
  --text-213-font-size: 15.552px;
  --text-213-letter-spacing: normal;
  --text-213-line-height: 26.7494px;
  --text-213-style: normal;
  --text-213-transform: none;
  --text-213-weight: 600;
  --text-214-font-size: 15.6px;
  --text-214-letter-spacing: normal;
  --text-214-line-height: normal;
  --text-214-style: normal;
  --text-214-transform: uppercase;
  --text-214-weight: 400;
  --text-215-font-size: 16.32px;
  --text-215-letter-spacing: normal;
  --text-215-line-height: 17.6256px;
  --text-215-style: normal;
  --text-215-transform: none;
  --text-215-weight: 400;
  --text-216-font-size: 16.32px;
  --text-216-letter-spacing: normal;
  --text-216-line-height: 23.664px;
  --text-216-style: normal;
  --text-216-transform: none;
  --text-216-weight: 400;
  --text-217-font-size: 16.96px;
  --text-217-letter-spacing: 0.5088px;
  --text-217-line-height: 26.288px;
  --text-217-style: normal;
  --text-217-transform: uppercase;
  --text-217-weight: 400;
  --text-218-font-size: 17.28px;
  --text-218-letter-spacing: 0.1728px;
  --text-218-line-height: 16.9344px;
  --text-218-style: normal;
  --text-218-transform: none;
  --text-218-weight: 400;
  --text-219-font-size: 17.92px;
  --text-219-letter-spacing: normal;
  --text-219-line-height: 19.3536px;
  --text-219-style: normal;
  --text-219-transform: none;
  --text-219-weight: 400;
  --text-220-font-size: 18.56px;
  --text-220-letter-spacing: 0.3712px;
  --text-220-line-height: 21.344px;
  --text-220-style: normal;
  --text-220-transform: uppercase;
  --text-220-weight: 400;
  --text-221-font-size: 18px;
  --text-221-letter-spacing: normal;
  --text-221-line-height: 19.08px;
  --text-221-style: normal;
  --text-221-transform: uppercase;
  --text-221-weight: 400;
  --text-222-font-size: 22.4px;
  --text-222-letter-spacing: normal;
  --text-222-line-height: 24.64px;
  --text-222-style: normal;
  --text-222-transform: none;
  --text-222-weight: 400;
  --text-223-font-size: 22px;
  --text-223-letter-spacing: normal;
  --text-223-line-height: 23.76px;
  --text-223-style: normal;
  --text-223-transform: none;
  --text-223-weight: 800;
  --text-224-font-size: 23.2px;
  --text-224-letter-spacing: 0.464px;
  --text-224-line-height: 24.128px;
  --text-224-style: normal;
  --text-224-transform: uppercase;
  --text-224-weight: 400;
  --text-225-font-size: 23.328px;
  --text-225-letter-spacing: normal;
  --text-225-line-height: 26.8272px;
  --text-225-style: normal;
  --text-225-transform: none;
  --text-225-weight: 400;
  --text-226-font-size: 24px;
  --text-226-letter-spacing: normal;
  --text-226-line-height: 27.2013px;
  --text-226-style: normal;
  --text-226-transform: none;
  --text-226-weight: 400;
  --text-227-font-size: 25.02px;
  --text-227-letter-spacing: normal;
  --text-227-line-height: 27.2013px;
  --text-227-style: normal;
  --text-227-transform: none;
  --text-227-weight: 400;
  --text-228-font-size: 25.6px;
  --text-228-letter-spacing: 0.256px;
  --text-228-line-height: 27.136px;
  --text-228-style: normal;
  --text-228-transform: none;
  --text-228-weight: 400;
  --text-229-font-size: 26.688px;
  --text-229-letter-spacing: normal;
  --text-229-line-height: 28.2893px;
  --text-229-style: normal;
  --text-229-transform: uppercase;
  --text-229-weight: 400;
  --text-230-font-size: 27.522px;
  --text-230-letter-spacing: 0.27522px;
  --text-230-line-height: 28.0724px;
  --text-230-style: normal;
  --text-230-transform: uppercase;
  --text-230-weight: 400;
  --text-231-font-size: 27.52px;
  --text-231-letter-spacing: 0.2752px;
  --text-231-line-height: 28.0704px;
  --text-231-style: normal;
  --text-231-transform: uppercase;
  --text-231-weight: 400;
  --text-232-font-size: 28px;
  --text-232-letter-spacing: normal;
  --text-232-line-height: 29.68px;
  --text-232-style: normal;
  --text-232-transform: uppercase;
  --text-232-weight: 400;
  --text-233-font-size: 28px;
  --text-233-letter-spacing: -0.28px;
  --text-233-line-height: 30.8px;
  --text-233-style: normal;
  --text-233-transform: none;
  --text-233-weight: 400;
  --text-234-font-size: 30.858px;
  --text-234-letter-spacing: 0.61716px;
  --text-234-line-height: 32.0923px;
  --text-234-style: normal;
  --text-234-transform: uppercase;
  --text-234-weight: 400;
  --text-235-font-size: 32px;
  --text-235-letter-spacing: normal;
  --text-235-line-height: 27.2013px;
  --text-235-style: normal;
  --text-235-transform: none;
  --text-235-weight: 400;
  --text-236-font-size: 32px;
  --text-236-letter-spacing: normal;
  --text-236-line-height: 38.4px;
  --text-236-style: normal;
  --text-236-transform: uppercase;
  --text-236-weight: 700;
  --text-237-font-size: 35.028px;
  --text-237-letter-spacing: 0.35028px;
  --text-237-line-height: 37.1297px;
  --text-237-style: normal;
  --text-237-transform: none;
  --text-237-weight: 400;
  --text-238-font-size: 36.16px;
  --text-238-letter-spacing: normal;
  --text-238-line-height: 37.968px;
  --text-238-style: normal;
  --text-238-transform: none;
  --text-238-weight: 400;
  --text-239-font-size: 40px;
  --text-239-letter-spacing: 0.8px;
  --text-239-line-height: 41.6px;
  --text-239-style: normal;
  --text-239-transform: uppercase;
  --text-239-weight: 400;
  --text-240-font-size: 42.4px;
  --text-240-letter-spacing: 0.424px;
  --text-240-line-height: 44.944px;
  --text-240-style: normal;
  --text-240-transform: none;
  --text-240-weight: 400;
  --text-241-font-size: 47.52px;
  --text-241-letter-spacing: 0.4752px;
  --text-241-line-height: 48.4704px;
  --text-241-style: normal;
  --text-241-transform: uppercase;
  --text-241-weight: 400;
  --text-242-font-size: 13px;
  --text-242-letter-spacing: 0.91px;
  --text-242-line-height: normal;
  --text-242-style: normal;
  --text-242-transform: uppercase;
  --text-242-weight: 800;
  --text-243-font-size: 14px;
  --text-243-letter-spacing: normal;
  --text-243-line-height: 20.3px;
  --text-243-style: normal;
  --text-243-transform: none;
  --text-243-weight: 400;
  --text-244-font-size: 15px;
  --text-244-letter-spacing: normal;
  --text-244-line-height: 15.9px;
  --text-244-style: normal;
  --text-244-transform: uppercase;
  --text-244-weight: 700;
  --text-245-font-size: 15px;
  --text-245-letter-spacing: normal;
  --text-245-line-height: 20.1px;
  --text-245-style: normal;
  --text-245-transform: none;
  --text-245-weight: 400;
  --text-246-font-size: 15px;
  --text-246-letter-spacing: normal;
  --text-246-line-height: 23.7px;
  --text-246-style: normal;
  --text-246-transform: none;
  --text-246-weight: 400;
  --text-247-font-size: 18px;
  --text-247-letter-spacing: normal;
  --text-247-line-height: 19.08px;
  --text-247-style: normal;
  --text-247-transform: uppercase;
  --text-247-weight: 700;
  --text-248-font-size: 20px;
  --text-248-letter-spacing: normal;
  --text-248-line-height: 21.2px;
  --text-248-style: normal;
  --text-248-transform: uppercase;
  --text-248-weight: 400;
  --text-249-font-size: 21.44px;
  --text-249-letter-spacing: 0.2144px;
  --text-249-line-height: 21.0112px;
  --text-249-style: normal;
  --text-249-transform: none;
  --text-249-weight: 400;
  --text-250-font-size: 22.4px;
  --text-250-letter-spacing: normal;
  --text-250-line-height: 27.2013px;
  --text-250-style: normal;
  --text-250-transform: uppercase;
  --text-250-weight: 400;
  --text-251-font-size: 24px;
  --text-251-letter-spacing: normal;
  --text-251-line-height: 28.8px;
  --text-251-style: normal;
  --text-251-transform: uppercase;
  --text-251-weight: 700;
  --text-252-font-size: 26.688px;
  --text-252-letter-spacing: normal;
  --text-252-line-height: 28.2893px;
  --text-252-style: normal;
  --text-252-transform: uppercase;
  --text-252-weight: 700;
  --text-253-font-size: 28.356px;
  --text-253-letter-spacing: normal;
  --text-253-line-height: 30.0574px;
  --text-253-style: normal;
  --text-253-transform: uppercase;
  --text-253-weight: 400;
  --text-254-font-size: 30px;
  --text-254-letter-spacing: normal;
  --text-254-line-height: 32.4px;
  --text-254-style: normal;
  --text-254-transform: none;
  --text-254-weight: 800;
  --text-255-font-size: 31.68px;
  --text-255-letter-spacing: normal;
  --text-255-line-height: 27.2013px;
  --text-255-style: normal;
  --text-255-transform: none;
  --text-255-weight: 400;
  --text-256-font-size: 32px;
  --text-256-letter-spacing: normal;
  --text-256-line-height: 27.2013px;
  --text-256-style: normal;
  --text-256-transform: uppercase;
  --text-256-weight: 400;
  --text-257-font-size: 32px;
  --text-257-letter-spacing: 0.32px;
  --text-257-line-height: 29.44px;
  --text-257-style: normal;
  --text-257-transform: none;
  --text-257-weight: 400;
  --text-258-font-size: 32px;
  --text-258-letter-spacing: normal;
  --text-258-line-height: 33.92px;
  --text-258-style: normal;
  --text-258-transform: uppercase;
  --text-258-weight: 400;
  --text-259-font-size: 32px;
  --text-259-letter-spacing: normal;
  --text-259-line-height: 36.8px;
  --text-259-style: normal;
  --text-259-transform: uppercase;
  --text-259-weight: 700;
  --text-260-font-size: 35.028px;
  --text-260-letter-spacing: 0.35028px;
  --text-260-line-height: 32.2258px;
  --text-260-style: normal;
  --text-260-transform: none;
  --text-260-weight: 400;
  --text-261-font-size: 41.7px;
  --text-261-letter-spacing: normal;
  --text-261-line-height: 47.955px;
  --text-261-style: normal;
  --text-261-transform: uppercase;
  --text-261-weight: 700;
  --text-262-font-size: 48px;
  --text-262-letter-spacing: normal;
  --text-262-line-height: 55.2px;
  --text-262-style: normal;
  --text-262-transform: uppercase;
  --text-262-weight: 700;
  --text-263-font-size: 53.76px;
  --text-263-letter-spacing: 0.5376px;
  --text-263-line-height: 49.4592px;
  --text-263-style: normal;
  --text-263-transform: none;
  --text-263-weight: 400;
  --space-001: 0px;
  --space-002: 8px;
  --space-003: 13.5px;
  --space-004: 6px;
  --space-005: 9px;
  --space-006: 11.5px;
  --space-007: 18.5px;
  --space-008: 3px;
  --space-009: 11px;
  --space-010: 6.5px;
  --space-011: 9.5px;
  --space-012: 7.5px;
  --space-013: 16px;
  --space-014: 17px;
  --space-015: 2.5px;
  --space-016: 14.5px;
  --space-017: 13px;
  --space-018: 23px;
  --space-019: 2px;
  --space-020: 10px;
  --space-021: 32px;
  --space-022: 12px;
  --space-023: 24px;
  --space-024: 18px;
  --space-025: 5px;
  --space-026: 28px;
  --space-027: 14px;
  --space-028: 20px;
  --space-029: 21.5px;
  --space-030: 15.5px;
  --space-031: 12.5px;
  --space-032: 7px;
  --space-033: 1px;
  --space-034: 30px;
  --space-035: 16.5px;
  --space-036: 4.5px;
  --space-037: 21px;
  --space-038: 112px;
  --space-039: 15px;
  --space-040: 43px;
  --space-041: 8.5px;
  --space-042: 22px;
  --space-043: 19px;
  --space-044: 60px;
  --space-045: 29px;
  --space-046: 10.5px;
  --space-047: 25.5px;
  --space-048: 5.5px;
  --space-049: 25px;
  --space-050: -1px;
  --space-051: -60px;
  --space-052: 100px;
  --space-053: 180px;
  --space-054: 19.5px;
  --space-055: 24.5px;
  --space-056: 22.5px;
  --space-057: 33.5px;
  --space-058: 38.5px;
  --space-059: 23.5px;
  --space-060: 4px;
  --space-061: 50px;
  --space-062: 86.5px;
  --space-063: 130px;
  --space-064: 102px;
  --space-065: 115px;
  --space-066: 17.5px;
  --space-067: 35.5px;
  --space-068: 70px;
  --space-069: 109px;
  --space-070: 26px;
  --space-071: 37.5px;
  --space-072: 37px;
  --space-073: 42px;
  --space-074: 48px;
  --space-075: -11px;
  --space-076: 31px;
  --radius-001: 0px;
  --radius-002: 4px;
  --radius-003: 999px;
  --radius-004: 6px;
  --radius-005: 10px;
  --radius-006: 8px;
  --radius-007: 16px;
  --radius-008: 12px;
  --radius-009: 14px;
  --radius-010: 1px;
  --radius-011: 3px;
  --radius-012: 4.5px;
  --border-001: 0px;
  --border-002: 1px;
  --border-003: 3px;
  --border-004: 2px;
  --shadow-001: none;
  --shadow-002: rgba(18, 22, 30, 0.2) 0px 10px 22px 0px, rgba(255, 255, 255, 0.3) 0px 1px 0px 0px inset;
  --shadow-003: rgba(18, 22, 30, 0.22) 0px 16px 36px 0px, rgba(255, 255, 255, 0.32) 0px 1px 0px 0px inset;
  --shadow-004: rgba(255, 255, 255, 0.35) 0px 0px 0px 1px inset, rgba(255, 0, 80, 0.25) 0px 10px 30px 0px;
  --shadow-005: rgba(255, 255, 255, 0.14) 0px 1px 0px 0px inset, rgba(5, 8, 15, 0.26) 0px 10px 22px 0px;
  --shadow-006: rgba(18, 25, 38, 0.16) 0px 18px 54px 0px, rgba(255, 255, 255, 0.52) 0px 1px 0px 0px inset;
  --shadow-007: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px;
  --shadow-008: rgba(14, 21, 34, 0.17) 0px 20px 60px 0px, rgba(255, 255, 255, 0.56) 0px 1px 0px 0px inset;
  --shadow-009: rgba(10, 12, 15, 0.16) 0px 20px 60px 0px, rgba(255, 255, 255, 0.56) 0px 1px 0px 0px inset;
  --shadow-010: rgba(255, 25, 16, 0.22) 0px 8px 22px 0px;
  --shadow-011: rgba(0, 0, 0, 0.35) 0px 8px 36px 0px;
  --shadow-012: rgba(8, 11, 20, 0.3) 0px 9px 22px 0px;
  --shadow-013: rgba(255, 0, 80, 0.26) 0px 10px 28px 0px;
  --shadow-014: rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  --shadow-015: rgba(0, 0, 0, 0.1) 0px 16px 34px 0px;
  --shadow-016: rgba(0, 0, 0, 0.24) 0px 8px 24px 0px;
  --shadow-017: rgba(249, 115, 22, 0.18) 0px 10px 20px 0px;
  --shadow-018: rgba(255, 0, 80, 0.24) 0px 8px 24px 0px;
  --shadow-019: rgba(255, 77, 26, 0.45) 0px 0px 0px 1px inset;
  --shadow-020: rgba(0, 0, 0, 0.02) 0px 1px 0px 0px;
  --shadow-021: rgba(0, 0, 0, 0.1) 0px 10px 28px 0px;
}
